:root {
  --color-green: hsl(160deg, 100%, 30%);
  --color-gold-light: hsl(45deg, 100%, 50%);
  --color-gold-dark: hsl(45deg, 100%, 40%);
  --color-gray-black: hsl(0deg, 0%, 0%);
  --color-gray-very-dark: hsl(0deg, 0%, 10%);
  --color-gray-dark: hsl(0deg, 0%, 30%);
  --color-gray-medium: hsl(0deg, 0%, 40%);
  --color-gray-light: hsl(0deg, 0%, 60%);
  --color-gray-white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
strong {
  color: var(--color-green);
}

.header {
  background-color: var(--color-gray-white);
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 16px;
}

.intro-chunk {
  max-width: 50%;
}

main {
  height: 100%;
  border-top: 8px solid var(--color-gray-dark);
  background-color: var(--color-gray-light);
  padding-top: 36px;
}

.intro-chunk,
.card {
  padding: 24px 16px;
}

.card {
  background-color: var(--color-gray-white);
}

.indented-heading {
  background-color: var(--color-gold-light);
  border-bottom: 8px solid var(--color-gold-dark);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -16px;
  margin-left: -24px;
  display: inline-block;
  margin-bottom: 0;
}
